---
import Image from '~/components/common/Image.astro';
---

<div class="flex items-center">
  <div class="w-1 h-12 mr-3" style="background-color: var(--aw-color-primary);"></div>
  <Image
    src="~/assets/images/shields-cement-main-logo.png"
    alt="Shields Concrete Logo"
    class="h-12 w-auto"
    loading="eager"
  />
</div>
