---
import Image from '~/components/common/Image.astro';
---

<div class="flex items-center">
  <div class="w-1 h-8 md:h-12 mr-2 md:mr-3" style="background-color: var(--aw-color-primary);"></div>
  <Image
    src="~/assets/images/shields-cement-main-logo.png"
    alt="Shields Concrete Logo"
    class="h-8 md:h-12 lg:h-16 w-auto"
    width={870}
    height={374}
    loading="eager"
  />
</div>
